{% extends 'base.html' %}

{% block head %}

{% endblock%}

{% block body %}

<div class="container-fluid px-4 py-5 my-5 text-center">

	{% with messages = get_flashed_messages() %}
		{% if messages %}

			{% for messages in messages %}
				<div class="alert alert-danger alert-dismissable fade show" role="alert">
					{{message}}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				
				</div>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<form action="" method="POST" novalidate class="d-flex">
		{{form.hidden_tag()}}
		<p>
			{{form.username.label}}
			{{form.username}}
		</p>
		<p>
			{{form.password.label}}
			{{form.password}}
		</p>
		<p>
			{{form.submit()}}
		</p>
	</form>
</div>

{% endblock%}